# SENTIMENT ANALYSIS - AMAZON PHONES DATASET

### Library imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import preprocessing_helpers as preprocessing_helpers

C:\Users\Legion\AppData\Local\Temp\ipykernel_8508\2911520366.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

### Loading dataset

In [2]:
dataset = pd.read_csv("Amazon_Unlocked_Mobile.csv", index_col=False)

### Dataset review

In [3]:
dataset.head()

,Product Name,Brand Name,Price,Rating,Reviews,Review Votes
0,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,5,I feel so LUCKY to have found this used (phone...,1.0
1,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,4,"nice phone, nice up grade from my pantach revu...",0.0
2,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,5,Very pleased,0.0
3,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,4,It works good but it goes slow sometimes but i...,0.0
4,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,4,Great phone to replace my lost phone. The only...,0.0

In [4]:
dataset.describe()

               Price         Rating   Review Votes
count  407907.000000  413840.000000  401544.000000
mean      226.867155       3.819578       1.507237
std       273.006259       1.548216       9.163853
min         1.730000       1.000000       0.000000
25%        79.990000       3.000000       0.000000
50%       144.710000       5.000000       0.000000
75%       269.990000       5.000000       1.000000
max      2598.000000       5.000000     645.000000

In [5]:
dataset.isna().sum()

Product Name        0
Brand Name      65171
Price            5933
Rating              0
Reviews            70
Review Votes    12296
dtype: int64

### Selecting important columns and dropping rows with NaN

In [6]:
dataset = dataset[['Rating', 'Reviews']]
dataset.dropna(inplace=True)

In [7]:
dataset.head()

   Rating                                            Reviews
0       5  I feel so LUCKY to have found this used (phone...
1       4  nice phone, nice up grade from my pantach revu...
2       5                                       Very pleased
3       4  It works good but it goes slow sometimes but i...
4       4  Great phone to replace my lost phone. The only...

### Encoding rating feature

In [8]:
dataset['Label'] = dataset['Rating'].apply(preprocessing_helpers.Encode_rating)

In [9]:
dataset.head()

   Rating                                            Reviews     Label
0       5  I feel so LUCKY to have found this used (phone...  Positive
1       4  nice phone, nice up grade from my pantach revu...  Positive
2       5                                       Very pleased  Positive
3       4  It works good but it goes slow sometimes but i...  Positive
4       4  Great phone to replace my lost phone. The only...  Positive

### Removing URLs from review feature

In [10]:
dataset['CleanReviews'] = dataset['Reviews'].apply(preprocessing_helpers.Removing_url)

### Removing characters that are not alphanumeric

In [11]:
dataset['CleanReviews'] = dataset['CleanReviews'].apply(preprocessing_helpers.Clean_non_alphanumeric)

### Converting reviews to lower case

In [12]:
dataset['CleanReviews'] = dataset['CleanReviews'].apply(preprocessing_helpers.Convert_to_lowercase)

### Tokenization of review texts

In [13]:
dataset['CleanReviews'] = dataset['CleanReviews'].apply(preprocessing_helpers.Tokenize_text)

In [14]:
dataset.head()

,Rating,Reviews,Label,CleanReviews
0,5,I feel so LUCKY to have found this used (phone...,Positive,"[i, feel, so, lucky, to, have, found, this, us..."
1,4,"nice phone, nice up grade from my pantach revu...",Positive,"[nice, phone, nice, up, grade, from, my, panta..."
2,5,Very pleased,Positive,"[very, pleased]"
3,4,It works good but it goes slow sometimes but i...,Positive,"[it, works, good, but, it, goes, slow, sometim..."
4,4,Great phone to replace my lost phone. The only...,Positive,"[great, phone, to, replace, my, lost, phone, t..."

### Removing english stopwords

In [15]:
dataset['CleanReviews'] = dataset['CleanReviews'].apply(preprocessing_helpers.Remove_stopwords)

### Stemming

In [16]:
#dataset['CleanReviews'] = dataset['CleanReviews'].apply(preprocessing_helpers.Stemming)

### Lemmatization

In [17]:
dataset['CleanReviews'] = dataset['CleanReviews'].apply(preprocessing_helpers.Lemmatization)

In [1]:
dataset.head(15)

NameError: name 'dataset' is not defined

### Converting list of tokens back to string

In [ ]:
dataset['CleanReviews'] = dataset['CleanReviews'].apply(preprocessing_helpers.Lemmatization)